@model ENTITY_L.Models.Authentication.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/IndexShared/_IndexNavbar.cshtml";
}

<body onload="hideButtons()">

    <!-- Background image -->
    <div class="bg-image"
         style="background-image: url('https://www.mediafire.com/convkey/8ef1/irtrm9kc2r9hgxb9g.jpg'); height: 100vh ">

        <div class="container col-md-5 login-vertical-center" style="margin-top:3rem;">
            <!-- Pills navs -->
           
            <!-- Pills navs -->
            <!-- Pills content -->
            @using (Html.BeginForm("Login", "Auth", FormMethod.Post))
            {
              

                <div class="tab-content shadow p-5 rounded bg-white">
                    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                        <header class="text-capitalize text-center">Iniciar Sesión</header>
                        <form>


                            <p class="text-center">or:</p>

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <!-- Email input -->
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            <div class="form-outline mb-4">
                                <input type="email" id="loginName" name="Email" class="form-control" />
                                <label class="form-label" for="loginName">Correo electrónico</label>
                            </div>

                            <!-- Password input -->
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            <div class="form-outline mb-4">
                                <input type="password" id="loginPassword" name="Password" class="form-control" />
                                <label class="form-label" for="loginPassword">Contraseña</label>
                            </div>

                            <!-- 2 column grid layout -->
                            <div class="row mb-4">
                                <div class="col-md-6 d-flex justify-content-center">
                                    <!-- Checkbox -->
                                    <div class="form-check mb-3 mb-md-0">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               value=""
                                               id="loginCheck"
                                               checked />
                                        <label class="form-check-label" for="loginCheck"> Recordarme </label>
                                    </div>
                                </div>

                                <div class="col-md-6 d-flex justify-content-center">
                                    <!-- Simple link -->
                                    <a href="#!">Olvidaste tu contraseña?</a>
                                </div>
                            </div>

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4">Iniciar Sesión</button>

                            <!-- Register buttons -->
                            <div class="text-center">
                                <p>No tienes cuenta? <a href="#!">Registrate</a></p>
                            </div>
                            <div class="text-center mb-3">
                                <p>O inicia sesión con:</p>
                                <button type="button" class="btn btn-primary btn-floating mx-1">
                                    <i class="fab fa-facebook-f"></i>
                                </button>

                                <button type="button" class="btn btn-primary btn-floating mx-1">
                                    <i class="fab fa-google"></i>
                                </button>

                                <button type="button" class="btn btn-primary btn-floating mx-1">
                                    <i class="fab fa-twitter"></i>
                                </button>

                                <button type="button" class="btn btn-primary btn-floating mx-1">
                                    <i class="fab fa-github"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Pills content -->
            }
        </div>

    </div>

</body>