@model ENTITY_L.Models.Employer.EmployerModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmployerDashboard</title>
</head>
<body>
    <div> 
        <h1>Welcome Employer</h1>
    </div>
</body>
</html>
