

.floating {
    position: relative;
    top: 0;
    width: 100%;
    height: 175px;
    background: linear-gradient(to right,#C33764, #1D2671);
}

.transparent {
    position: relative;
    top: 13%;
    left: 18%;
    width: 65%;
    height: 75%;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 7px;
}

.jobimage {
    position: absolute;
    background-color: white;
    top: 15%;
    left: 8%;
    width: 95px;
    height: 95px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.title {
    color: white;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: x-large;
    position: absolute;
    top: 27%;
    left: 23%;
}


.subtitle {
    color: white;
    font-family: 'Raleway';
    font-size: medium;
    position: absolute;
    top: 54%;
    left: 23%;
}


.stretch {
    width: 80%;
}


.tipo {
    position: relative;
    background-color: #3193F4;
    border-radius: 2.5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 2px;
}

.category {
    position: relative;
    background-color: #EB8F3A;
    border-radius: 2.5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 4px;
    padding-bottom: 2px;
}

.stext {
    color: white;
    font-family: 'Raleway';
    font-size: x-small;
}

.form {
    margin-top: 3%;
    width: 100%;
    height: 530px;
}

.data {
    margin-top: 3%;
    width: 30%;
}

.line {
    position: absolute;
    width: 350px;
    height: 0px;
    right: 34.5%;
    top: 44%;
    border: 1px solid #D2D2D2;
    box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
    transform: rotate(-90deg);
}

.save {
    background-color: white;
    color: #933368;
    border: 2px solid #933368;
    margin-left: 1.5%;
}

    .save:hover {
        background-color: #933368;
        color: white;
    }

.back {
    background-color: #933368;
    color: white;
}

.buttons {
    position: relative;
    margin-top: 10px;
    right: 6px;
    top: 5%;
}

.back:hover {
    color: #fff;
}

.title2 {
    color: #933368;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: x-large;
    width: 85%;
    margin-top: 1.5%;
}

.wrapper {
    max-width: 400px;
    margin-top: 6%;
}

.chips {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: x-large;
    width: 400px;
}

gsk-input-chips {
    --gsk-theme-error: red;
    --gsk-theme-danger: red;
    --gsk-theme-font-base: 'Raleway';
    --gsk-theme-primary: #933368;
}

.avatar input[type=file] {
    display: none;
}

.avatar-selector {
    position: absolute;
    left: 14%;
    top: 58%;
    background: linear-gradient(rgb(197, 14, 167), rgb(151, 17, 212));
    color: white;
    border-radius: 50%;
    padding: 0.8em;
    cursor: pointer;
    bottom: 0.5em;
    width: 40px;
    height: 40px;
}

.cam {
    position: relative;
    right: 2px;
    top: -4px;
    text-align: center;
    justify-content: center;
    font-size: 19px;
}
