
<ul class="navbar-nav navbar-links me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Index")"><span class="nav-link">Inicio</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("EditProfile", "User")"><span class="nav-link">Perfil</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("RequestViewer", "User")"><span class="nav-link">Solicitudes</span></a>
    </li>
</ul>