
<div class="d-flex align-items-center">
    <a href="@Url.Action("Login", "Auth")" id="LoginBtn" class="btn btn-link navbar-link-button btn-rounded px-3 me-2">
        Iniciar sesión
    </a>

    <a href="@Url.Action("SignUp", "Auth")" id="RegisterBtn" class="btn btn-outline-primary btn-rounded me-3 navbar-button">
        <strong>Registrarse</strong>
    </a>

</div>