
<link rel="stylesheet" href="~/Content/Loading/loading.css">

    <canvas class="background"></canvas>
    <div class="preloader">
        <div class="loader"></div>
    </div>
    <img class="logo" src="~/Content/Loading/logo.svg" alt="">

    <script src="~/Content/Loading/loading.js"></script>
