@model ENTITY_L.Models.Admin.AdminModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminDashboard</title>
</head>
<body>
    <div> 
        <h1>Welcome Admin</h1>
    </div>
</body>
</html>
