
@{
    ViewBag.Title = "Employers";
    Layout = "~/Views/Shared/Dashboard/_DashboardSideBar.cshtml";
}

<h1 class="container d-flex justify-content-center mt-5" style="font-weight: 300;">Empleadores</h1>

<div class="card container mt-5">

    <div style="margin-top: 1rem;">
        <a type="button" href="DataTable-Add.php" class="btn btn-primary m-2 ">
            <i class="fas fa-plus"></i>
            Crear
        </a>

    </div>

    <div class="datatable container ps--scrolling-x mt-2" data-hover="true">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Compañía</th>
                    <th>Email</th>
                    <th>Empleo</th>
                    <th>Tipo de trabajo</th>
                    <th>Categoría</th>
                    <th>Ubicación</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td>Clc8edmCx9WptQlwg5XY</td>
                    <td>Jobsy</td>
                    <td>support@jobsy.tech</td>
                    <td>Operador</td>
                    <td>Part-Time</td>
                    <td>Tecnología</td>
                    <td>Los Mina</td>
                    <td class="row">
                        <a href="" class="col-md-4 btn btn-dark btn-floating">
                            <i class="fas fa-eye"></i>
                        </a>

                        <a href="" class="col-md-4 btn btn-primary btn-floating" style="margin-left: 3%;">
                            <i class="fas fa-pen"></i>
                        </a>

                        <a href="" class="col-md-4 btn btn-danger btn-floating" style="margin-left: 3%;">
                            <i class="fas fa-trash-alt"></i>
                        </a>

                    </td>
                </tr>

                <?php }  ?>



            </tbody>

        </table>
    </div>
</div>
