
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ExecuteJobProcess</title>
</head>
<body onload="redirect()">
    <script>
        function redirect() {
            window.location.pathname = "/Admin/Jobs";
        }
    </script>
    <div> 
    </div>
</body>
</html>
