@using System.Security.Claims;
<div id="scrollContainer">
    <ul class="sidenav-menu sidenav-btn-text">
        <li class="sidenav-item">
            <a class="sidenav-link" href="@Url.Action("Index", "Index")"> <i class="fas fa-home pr-3"></i>Inicio</a>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link" href=""> <i class="fas fa-users pr-3"></i>Mis Empleos</a>
        </li>


    </ul>
    <hr class="m-0" />
    <ul class="sidenav-menu">
        <li class="sidenav-item">
            <a class="sidenav-link" href=""> <i class="fas fa-cogs pr-3"></i>Configuración</a>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link" href=""> <i class="fas fa-user pr-3"></i>Perfil</a>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link"> <i class="fas fa-shield-alt pr-3"></i>Privacidad</a>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link" href="@Url.Action("LogOff", "Auth")"> <i class="fas fa-user-astronaut pr-3"></i>Cerrar sesión</a>
        </li>
    </ul>
</div>