
@{
    Layout = "~/Views/Shared/IndexShared/_IndexNavbar.cshtml";
    ViewBag.Title = "EditProfileUser";
}

<!DOCTYPE html>
<html lang="en" style="height: 120%;">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/EditProfileUser.css" />
    <script src="https://gsk-design-system.azureedge.net/webcomponents/all-package/dist/1.4/gsk-all-es5.js" defer="">
    </script>
    <link rel="stylesheet" href="https://gsk-design-system.azureedge.net/styles/fonts/dist/1.0/style.css">
    <title>Editar perfil</title>
</head>

<body>
    <header>
        <!-- Background image -->
        <div class="text-center floating">
            <div class="mask transparent">
                <div class="d-flex justify-content-evenly align-items-evenly h-100">
                    <div class="text-white">
                        <div class="avatar">
                            <input id="file-uploader" type="file" name="foto" value="" />
                            <div class="jobimage"
                                 style="background-image: url('https://cdnmundo1.img.sputniknews.com/img/106858/20/1068582049_739:0:3842:3412_1920x0_80_0_0_e17d0b9ffdbc0ecba409001126881d8b.jpg');">
                            </div>
                            <label class="avatar-selector" for="file-uploader"><i class="fa fa-camera cam"></i></label>
                        </div>
                        <div class="text-white">
                            <h2 class="mt-4 mb-3 text-start">Claro la red donde todo es posible</h2>
                            <div style="display: inline-flex;">
                                <div class="tipo"><div class="stext">HTML</div></div>&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="category"><div class="stext">CSS</div></div>&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="tipo"><div class="stext">JS</div></div>
                            </div>
                        </div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <!-- Background image -->
    </header>

    <div class="container">
        <div class="card form shadow">
            <div class="row">
                <div class="line"></div>
                <div class="col-md-6">
                    <div class="d-flex justify-content-center">
                        <div class="card-header title2">
                            <span class="iconify" data-inline="false" data-icon="bi:info-lg"
                                  style="font-size: 25px; color: #933368; margin-right: 10px;"></span>Información Personal
                        </div>
                    </div>
                    <div class=" d-flex justify-content-center">
                        <div class="form-outline data" style="width: 34%;">
                            <input type="text" id="Nombre" class="form-control" />
                            <label class="form-label" for="Nombre">Nombre</label>
                        </div>
                        <div class="form-outline data" style="width: 34%; margin-left: 2%;">
                            <input type="text" id="Apellido" class="form-control" />
                            <label class="form-label" for="Apellido">Apellido</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="form-outline data" style="width: 70%;">
                            <input type="text" id="Correo" class="form-control" />
                            <label class="form-label" for="Correo">Correo Electronico</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="form-outline data" style="width: 70%;">
                            <input type="text" id="Cedula" class="form-control" />
                            <label class="form-label" for="Cedula">Cedula</label>
                        </div>
                    </div>
                    <div class=" d-flex justify-content-center">
                        <div class="form-outline data" style="width: 34%;">
                            <input type="text" id="Telefono" class="form-control" />
                            <label class="form-label" for="Telefono">Telefono</label>
                        </div>
                        <div class="form-outline data" style="width: 34%; margin-left: 2%;">
                            <input type="text" id="Celular" class="form-control" />
                            <label class="form-label" for="Celular">Celular</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="form-outline data" style="width: 70%;">
                            <input type="text" id="Direccion" class="form-control" />
                            <label class="form-label" for="Direccion">Direccion</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="form-outline data" style="width: 70%;">
                            <textarea class="form-control" id="Biografia" rows="3"></textarea>
                            <label class="form-label" for="Biografia">Biografia</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="d-flex justify-content-center">
                        <div class="card-header title2">
                            <span class="iconify" data-inline="false"
                                  data-icon="ion:share-social-outline"
                                  style="font-size: 25px; color: #933368; margin-right: 10px;"></span>Redes Sociales
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="form-outline data" style="width: 70%;">
                            <input type="text" id="Instagram" class="form-control" />
                            <label class="form-label" for="Instagram">Instagram URL</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="form-outline data" style="width: 70%;">
                            <input type="text" id="Facebook" class="form-control" />
                            <label class="form-label" for="Facebook">Facebook URL</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="form-outline data" style="width: 70%;">
                            <input type="text" id="LinkedIn" class="form-control" />
                            <label class="form-label" for="LinkedIn">LinkedIn URL</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="card-header title2">
                            <span class="iconify" data-inline="false"
                                  data-icon="ant-design:tag-outlined"
                                  style="font-size: 25px; color: #933368; margin-right: 10px; "></span>Etiquetas
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="wrapper">
                            <gsk-input-chips value="Ejemplo" maxvalues="3" type="text" class="chips" outlined="">
                            </gsk-input-chips>
                        </div>
                    </div>
                </div>

            </div>



            <div class="d-flex justify-content-center buttons">
                <button class="btn back">Cancelar</button>
                <button class="btn save">Guardar</button>
            </div>
        </div>
    </div>
    </div>
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <script id="rendered-js">
        (() => {
            document.querySelector("#file-uploader").addEventListener("change", e => {

                const image = e.target.files[0];
                const imageURL = URL.createObjectURL(image);
                document.querySelector(".jobimage").
                    style.backgroundImage = ` url("${imageURL}")`;
            });
        })();
    </script>
</body>

</html>