
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content text-center">
            <div class="modal-header bg-danger text-white d-flex justify-content-center">
                <h5 class="modal-title" id="exampleModalLabel">¿Está seguro que desea eliminar este registro?</h5>
            </div>
            <div class="modal-body">
                <i class="fas fa-times fa-3x text-danger"></i>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">No</button>
                <button type="button" class="btn btn-outline-danger" data-mdb-dismiss="modal" onclick="Delete()">
                    Si
                </button>
            </div>
        </div>
    </div>
</div>

<input hidden id="hiddenTxt" />